.saved-news__header {
  background-color: rgba(255, 255, 255, 1);
  padding: 40px 104px 0;
}

.saved-news__header__title {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding: 0;
  color: rgba(26, 27, 34, 0.5);
}

.saved-news__header__info {
  font-family: "Roboto Slab";
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  text-align: left;
  max-width: 530px;
  color: black;
  padding: 0;
  margin-top: 28px;
}

.saved-news__header__keywords-container {
  display: flex;
  gap: 5px;
  margin-bottom: 56px;
  flex-wrap: wrap;
  align-items: baseline;
}

.saved-news__header__keywords-title {
  color: rgba(26, 27, 34, 1);
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin: 0;
}

.saved-news__header__keywords {
  color: rgba(26, 27, 34, 1);
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  margin: 0;
}





@media screen and (min-width: 320px) and (max-width: 500px) {
  .saved-news__header {
    padding: 8px 16px 32px;
  
  }

  .saved-news__header__title {
    font-size: 12px;
    font-weight: 400;
  }

  .saved-news__header__info {
    font-size: 30px;
    line-height: 34px;
    margin: 16px 0 0;
  }

  .saved-news__header__keywords-container {
    display: block;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .saved-news__header__keywords{
    display: inline;
  }

  .saved-news__header__keywords-title{
    display: inline;
    padding-right: 3px;
  }
}
