.about {
  margin: 80px 0;
  padding-left: 104px;
  display: flex;
  flex-direction: row;
  gap: 56px;
}

.about__image {
  background: transparent url("../../assets/photo.jpg") no-repeat center;
  background-size: cover;
  width: 464px;
  height: 464px;
  border-radius: 1000px;
  box-sizing: border-box;
}

.about__info {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  color: rgba(26, 27, 34, 1);
}

.about__title {
  font-family: "Roboto Slab";
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  text-align: left;
  margin: 51px 0 24px;
}

.about__paragraph {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin: 0;
}
