.navigation {
  display: flex;
  align-items: stretch;
  padding: 0 30px 0;
}

.navigation__buttons {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 42px;
  position: relative;
  height: 100%;
}

.navigation__home {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  outline: none;
  border: none;
  background: none;
  color: #fff;
  /* padding: 0 0 26px; */
}

.navigation__home:active{
  border-bottom: 2px solid white;
}

.navigation__signin {
  align-self: center;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: white;
  background: none;
  outline: 1px solid white;
  padding: 10px 20px;
  border: none;
  width: 176px;
  height: 48px;
  border-radius: 100px;
}

.navigation__saved-articles {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  outline: none;
  border: none;
  background: none;
  color: rgba(182, 188, 191, 1);
  /* padding: 0 0 26px; */
}

.navigation__saved-articles:active{
  border-bottom: 2px solid white;
}

.navigation__logout {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 10px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: white;
  background: none;
  outline: 1px solid white;
  padding: 10px 20px;
  border: none;
  width: 112px;
  height: 48px;
  border-radius: 100px;
}

.navigation__logout-icon {
  height: 24px;
  width: 24px;
  border: none;
  padding: 0;
  margin: 0;
}

.navigation__mobile{
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 613px) {
  .navigation{
    padding-right: 16px;
  }
  
  .navigation__buttons{
    display: none;
  }
  .navigation__mobile{
    display: block;
    width: 24px;
  }
  
}
