.navigation {
  display: flex;
  align-items: stretch;
  padding: 0 30px 0;
}

.navigation__buttons {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 42px;
  padding-right: 30px;
  position: relative;
  height: 100%;
}

.navigation__home {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  outline: none;
  border: none;
  background: none;
  color: #fff;
  /* padding: 0 0 26px; */
}

.navigation__home:active{
  border-bottom: 2px solid white;
}

.navigation__signin {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: white;
  background: none;
  outline: 1px solid white;
  padding: 10px 20px;
  border: none;
  width: 176px;
  height: 48px;
  border-radius: 100px;
}

.navigation__saved-articles {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  outline: none;
  border: none;
  background: none;
  color: rgba(182, 188, 191, 1);
  /* padding: 0 0 26px; */
}

.navigation__saved-articles:active{
  border-bottom: 2px solid white;
}

.navigation__logout {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 10px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: white;
  background: none;
  outline: 1px solid white;
  padding: 10px 20px;
  border: none;
  width: 112px;
  height: 48px;
  border-radius: 100px;
}

.navigation__logout-icon {
  background: transparent url("../../assets/header/icon/logout.svg") no-repeat
    center;
  height: 24px;
  width: 24px;
  border: none;
  outline: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
