.header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.header__title {
  font-family: "Roboto Slab";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding: 30px 104px 26px;
}

@media screen  and (min-width:613px) and (max-width:688px){
  .header__title{
    padding: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 613px) {
  .header__title {
    font-size: 16px;
    padding: 16px;
  }
}

