.newscards{
    display: flex;
    flex-direction: column;
    background-color: rgba(245, 246, 247, 1);
    padding: 80px 104px;
}

.newscards__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin: 64px auto;
  padding: 0;
}

.newscards__title {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  text-align: left;
  color: black;
  margin: 0;
}

.newscards__button {
  margin: 0 auto;
  padding: 0;
  width: 288px;
  height: 64px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 80px;
  color: rgba(26, 27, 34, 1);
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}

.newscards__button:hover{
  background-color: rgba(232, 232, 232, 1);

}

.newscards__error{
  color:black;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media screen and (min-width: 613px) and (max-width: 850px){
  .newscards__section{
    min-height: 200px;
    padding: 40px;
  }

  .newscards__title {
    font-size: 30px;
    line-height: 34px;
  }

  .newscards__list{
   gap: 8px;
   margin: 32px 0;
  }
  
  .newscards__button{
    margin: 0 auto 0;
    height: 56px;
    width: 240px;
    border-radius: 56px;
  }

}

@media screen and (min-width: 320px) and (max-width: 613px){
  .newscards__section{
    padding: 32px 0 24px
  }
  .newscards__list{
    gap: 10px;
    margin-top: 58px;
  }

  .newscards__title{
    font-size: 30px;
    align-self: center;
  }
}
