.card__container {
  width: 400px;
  height: 576px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
  position: relative;
}

.card__info {
  margin: 0 24px 24px;
}

.card__bookmark {
  position: absolute;
  top: 24px;
  right: 24px;
  background: white url("../../assets/bookmark.svg") no-repeat center;
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}

.card__bookmark:hover {
  background-image: url("../../assets/bookmark-hover.svg");
}

.card__delete-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background: white url("../../assets/delete-btn.svg") no-repeat center;
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}

.card__delete-btn:hover {
  background-image: url("../../assets/delete-btn-hover.svg");
}

.card__keyword {
  position: absolute;
  top: 24px;
  left: 24px;
  background-color: white;
  color: black;
  text-align: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 10px;
  padding: 8px 22px;
}

.card__delete-confirm {
  display: none;
  position: absolute;
  top: 24px;
  right: 69px;
  background-color: white;
  color: black;
  text-align: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  border-radius: 10px;
  padding: 13px 26px;
}

.card__delete-btn:hover + .card__delete-confirm {
  display: block;
}

.card__save-confirm {
  display: none;
  position: absolute;
  top: 24px;
  right: 69px;
  background-color: white;
  color: black;
  text-align: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  border-radius: 10px;
  padding: 13px 26px;
}

.card__bookmark:hover + .card__save-confirm {
  display: block;
}

.card__image {
  width: 400px;
  height: 272px;
  background: transparent url("../../assets/card/card/image_08.png") no-repeat
    center;
  border-radius: 16px;
  margin-bottom: 20px;
  padding: 0;
  object-fit: cover;
}

.card__date {
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(182, 188, 191, 1);
  padding: 0;
  margin: 0 0 12px;
}

.card__title {
  height: 60px;
  max-width: 352px;
  font-family: "Roboto Slab";
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  padding: 0;
  margin: 0 0 16px;
  color: rgba(26, 27, 34, 1);
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__description {
  height: 110px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  padding: 0;
  margin: 0 0 18px;
  color: rgba(26, 27, 34, 1);
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__source {
  font-family: "Roboto Slab";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-align: left;
  padding: 0;
  color: rgba(182, 188, 191, 1);
}

@media screen and (min-width: 613px) and (max-width: 850px) {
  .card__container {
    width: 224px;
    height: 420px;
  }

  .card__image {
    width: 224px;
    height: 150px;
    margin-bottom: 16px;
  }

  .card__delete-confirm {
    display: none;
  }

  .card__save-confirm {
    display: none;
  }

  .card__info {
    margin: 0 16px 16px;
  }

  .card__keyword {
    top: 8px;
    left: 8px;
  }

  .card__title {
    max-width: 192px;
    font-size: 22px;
    line-height: 24px;
    margin: 0 0 10px;
    height: 72px;
  }

  .card__description {
    height: 88px;
    margin: 0 0 12px;
  }

  .card__bookmark {
    top: 8px;
    right: 8px;
  }

  .card__delete-btn {
    top: 8px;
    right: 8px;
  }
}

@media screen and (min-width: 320px) and (max-width: 613px) {
  .card__container {
    width: 288px;
    height: 440px;
  }
  .card__image {
    width: 288px;
    height: 196px;
  }

  .card__info {
    margin: 0 16px;
  }

  .card__delete-confirm {
    display: none;
  }
  .card__save-confirm {
    display: none;
  }

  .card__date {
    margin: 0 0 10px;
  }

  .card__bookmark {
    top: 16px;
    right: 16px;
  }

  .card__delete-btn {
    top: 16px;
    right: 16px;
  }

  .card__keyword {
    top: 16px;
    left: 16px;
  }

  .card__title {
    height: 48px;
    font-size: 22px;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 14px;
  }

  .card__description {
    height: 88px;
    margin: 0 0 8px;
  }

  .card__source {
    margin: 0;
  }
}
