@import url(./vendor/normalize.css);

@font-face {
  font-family: "Roboto Slab";
  src: url("../src/vendor/fonts/RobotoSlab-VariableFont_wght.ttf") format("woff");
}

@font-face {
  font-family: "Roboto";
  src: url("../src/vendor/fonts/Roboto-Regular.ttf") format("woff");
}

